.searchlist{
    background-color: #EDEDED;
    height: auto;
    max-height: 13rem;
	width: auto;
    max-width: 50rem;
    overflow-y: scroll;
    scroll-behavior: auto;
    margin: 0 auto;
    overflow-y: scroll;
    scroll-behavior: auto;
}
