.searchlist{
    background-color: #EDEDED;
    height: auto;
    max-height: calc(80%);
	width: auto;
    max-width: 50rem;
    overflow-y: scroll;
    scroll-behavior: auto;
    margin: 0 auto;
    overflow-y: scroll;
    scroll-behavior: auto;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
